---
import BaseLayout from '../../layouts/BaseLayout.astro';
import NavBar from '../../components/NavBar.astro'
import "../../styles/global.css"
import "./article.css";

import { getCollection, CollectionEntry } from 'astro:content';
export const getStaticPaths = async () => {
    const posts = await getCollection("posts");
    console.log(posts)
    const filteredPosts = posts.filter(post => !post.id.includes('undefined'));
    const paths = filteredPosts.map(post => {
        return {
            params: {
                slug: post.data.slug
            },
            props: {
                post
            }
        }   
    })
    return paths;
} 

type Props = {
    post: CollectionEntry<"posts">
}
    
const {post} = Astro.props;
---

<BaseLayout title=`K:\\${post.data.title}`>
    <div class="hidden" id="center-div">
        <NavBar headertext=`# ${post.data.title}` />
        <p class="description">{post.data.description}</p>
        <div class="divider"/>
        <div class="writing" set:html={post.rendered.html} />
    </div>
</BaseLayout>